html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}
  
body {
max-width: 960px;
margin: 0 auto;
background: white;
}

h1, h2 {
font-family: serif;
color: #377ba8;
margin: 1rem 0;
}
